@model IEnumerable<Nominas.Models.Empleados>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-4">@ViewData["Title"]</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create New</a>
    <a asp-action="DescargarPDF" class="btn btn-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0" />
        </svg>
    </a>
</div>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_tipo_ingreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_puesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_tipo_ingreso)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i> Details</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
